section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
    margin-bottom: 80px;
    margin-top: -80px;
}

.sobre img{
    width: 400px;
    height: auto;
}

.sobre .txt-sobre{
    color: #000;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40pxs;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #a97aff;
    display: block;
}

.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #8b8deb;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-social button:hover{
    box-shadow: 0px 0px 8px #8b8deb;
    transform: scale(1.05);
}
