section.habilidades{
    padding: 40px 4%;
}
section.habilidades .flex{
    gap: 80px;
}

section.habilidades .tecnologias{
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}
section.habilidades .tecnologias:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff81;
}

section.habilidades .tecnologias h3{
    font-size: 19px;
    margin: 15px 0;
}


.flex input{
    display: none;
}

.tecnologias{
    position: relative;
    margin: auto;
}

.change{
    width: 200px;
    height: 200px;
    margin-top: -50px;
    margin-bottom: -50px;
}

.change2{
    width: 200px;
    height: 200px;
    margin-top: -50px;
    margin-bottom: -50px;
}

.interface-habilit{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.manual-nav{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: -30px;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #000;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -50%;
}

#radio3:checked ~ .first{
    margin-left: -150%;
}

.navigation-auto div{
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 244px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
}